/* Main CSS file for entire Website */

.links{
    margin-top: 40vh;
    text-align: center;
}

.headerLine{
    position: sticky;
    top: 0;
    height: 10px;
    background-color: #ad00ff;
}

/*----------------------------NAVIGATION BAR----------------------------*/
.nav-logo{
    border-radius: 15px;
}
.fa-search{
    padding: 10px;
    background-color: #ad00ff;
    border-radius: 5px;
}
/*--------------------------END NAVIGATION BAR--------------------------*/


/*-----------------------------LISITNG PAGE------------------------------*/

#blob{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50vw;
    min-width: 500px;
    z-index:-1;

}
/*-----------------------------END LISITNG PAGE--------------------------*/


/*-----------------------------INDEX PAGE--------------------------------*/

.header{
    position: absolute;
    width: 100%;
    height: 74px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90.1deg, #A645F1 19.69%, #C54AFF 78.49%), #C54AFF;
}

.skill-board-title{
    font-family: Palanquin Dark;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 161px;
    height: 42px;
}

.log-in{
    color: #fff;
    font-family: Padauk;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    right: 2.5rem;
    top: 1.5rem;
    width: 193px;
    height: 38px;
}

.sign-up-button{
    background-color: #fff;
    color: #A645F1 !important;
    font-family: Padauk;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    width: 98px;
    height: 35px;
    font-size: 18px;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    
}

.text-your-skill{
    position: absolute;
    top: 10rem;
    left: 6.5rem;
    margin-bottom: 10px;
    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
}

.text-goes-here{
    position: absolute;
    top: 13rem;
    left: 6.5rem;
    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #DB8EFF;
}

.arrow-icon{
    color: #fff;
    position: absolute;
    top: 38.5rem;
    right: 43.5rem; 
    transform: scale(2.5);
  }

  .login-card{
      position: absolute;
      top: 5rem;
      right: 4rem;
      width: 322px;
      height: 500px;
      background-color: #FDE6FF;
      border-radius: 20px;
  }

  