/* Main CSS file for entire Website */

.links{
    margin-top: 40vh;
    text-align: center;
}

.headerLine{
    position: sticky;
    top: 0;
    height: 10px;
    background-color: #ad00ff;
}

/*----------------------------NAVIGATION BAR----------------------------*/

/*--------------------------END NAVIGATION BAR--------------------------*/


/*-----------------------------LISITNG PAGE------------------------------*/

#blob{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50vw;
    min-width: 500px;
}
/*-----------------------------END LISITNG PAGE--------------------------*/
