/* Main CSS file for entire Website */

.links{
    margin-top: 40vh;
    text-align: center;
}

.headerLine{
    position: sticky;
    top: 0;
    height: 10px;
    background-color: #ad00ff;
}

/*----------------------------NAVIGATION BAR----------------------------*/
.nav-logo{
    border-radius: 15px;
}
.fa-search{
    padding: 10px;
    background-color: #ad00ff;
    border-radius: 5px;
}
/*--------------------------END NAVIGATION BAR--------------------------*/


/*-----------------------------LISITNG PAGE------------------------------*/

#blob{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50vw;
    min-width: 500px;
    z-index:-1;

}

#i-container{
    display: inline block;
    text-align: center;
    background-color: #cdcdcd;
    border: solid;
    border-color: black;
    /* padding-left: 3%; */
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.3%;
    /* height: 130px; */
    margin-left: 25px;
    /* width: 2000px; */
    margin-bottom:10px;
    margin-top: 10px;
}
.column-border{
    border-right-style: ridge;
    border-right-color: black;
    border-right-width: 2px;
    padding: 0;
    margin: 0;

}
.i-icon{
    width: 100%;
    height: auto;
    display: flex;
  justify-content: space-between;
  /* margin-top: 4%; */
  padding-top: 2%;
  margin: auto;

}
.checked{
    color: orange;
}
.mycontent-left {
    border-right: 1px dashed #333;
  }
.i-img{
    height: 100px;
    width: 100px;
}
/*-----------------------------END LISITNG PAGE--------------------------*/
