/* Main CSS file for entire Website */

*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.links{
    margin-top: 40vh;
    text-align: center;
}

.headerLine{
    position: sticky;
    top: 0;
    height: 10px;
    background-color: #ad00ff;
}

/*----------------------------NAVIGATION BAR----------------------------*/
.nav-logo{
    border-radius: 15px;
}
.fa-search{
    padding: 10px;
    background-color: #ad00ff;
    border-radius: 5px;
}
/*--------------------------END NAVIGATION BAR--------------------------*/


/*-----------------------------LISITNG PAGE------------------------------*/

#blob{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 60%;
    min-width: 500px;
    z-index:-1;

}
.profile-page{
    margin-right: 70px;
    margin-left: 20px;
    /* margin:0 auto; */

}
#i-container{
    /* position: relative; */
    /* display: inline block; */
    text-align: center;
    margin: 0 auto;
    margin-right: -50%;
    background-color: #cdcdcd;
    border: solid;
    border-color: black;
    /* padding-left: 3%; */
    padding-right: 2%;
    padding-top: 0.5%;
    padding-bottom: 0.3%;
    /* height: 130px; */
    margin-left: 25px;
    opacity: 0.9;
    /* width: 2000px; */
    margin-bottom:10px;
    margin-top: 10px;
    opacity: 0.9;
}
.column-border{
    border-right-style: ridge;
    border-right-color: black;
    border-right-width: 2px;
    padding: 0;
    margin: 0;

}
.i-icon{
    width: 100%;
    height: auto;
    display: flex;
  justify-content: space-between;
  /* margin-top: 4%; */
  padding-top: 2%;
  margin: auto;

}
.checked{
    color: orange;
}
.mycontent-left {
    border-right: 1px dashed #333;
  }
.i-img{
    height: 100px;
    width: 100px;
}
/*-----------------------------END LISITNG PAGE--------------------------*/


/*-----------------------------INDEX PAGE--------------------------------*/


.header{
    position: absolute;
    width: 100%;
    height: 74px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90.1deg, #A645F1 19.69%, #C54AFF 78.49%), #C54AFF;
}

.skill-board-title{
    font-family: Palanquin Dark;
    font-style: normal;
    color: #fff;
    font-size: 24px;
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 161px;
    height: 42px;
}

.log-in{
    color: #fff;
    font-family: Padauk;
    font-style: normal;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    right: 2.5rem;
    top: 1.5rem;
    width: 193px;
    height: 38px;
}

.sign-up-button{
    background-color: #fff;
    color: #A645F1 !important;
    font-family: Padauk;
    font-style: normal;
    font-size: 18px;
    font-weight: bold;
    width: 98px;
    height: 35px;
    font-size: 18px;
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    
}

.row{
  width: 100%;
  /* height: 100vh; */
  /* border-box: 4px solid green; */

}
.text-your-skill{
    position: absolute;
    top: 10rem;
    left: 6.5rem;
    margin-bottom: 10px;
    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 30px;
}

.text-goes-here{
    position: absolute;
    top: 13rem;
    left: 6.5rem;
    font-family: Palanquin Dark;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #DB8EFF;
}

.arrow{
    position: relative;
}

.arrow-icon{
    color: #fff;
    position: absolute;
    top: 39rem;
    left: 50%; 
    transform: scale(2.5);
  }

  .login-card{
      position: absolute;
      top: 5rem;
      right: 4rem;
      width: 322px;
      height: 500px;
      background-color: #FDE6FF;
      border-radius: 20px;
  }

  