.boldElem{
  font-weight: 700;
}

.rightSideWrapper{
  padding: 40px 20px;
}

.rightSideWrapper h5{
  color: rgb(107, 107, 107);
}

.profileImg{
  display: block;
  margin: 30px auto;
  max-width: 80%;
  max-height: 200px;
}

.centerElem{
  text-align: center;
}

.socialsList{
  font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300)));
  margin: 0 auto;
}

.lef

.leftSideWrapper{
  padding: 0 40px;
  margin-bottom: 30px;
}

.skillsRight{
  font-weight: 600;
  font-size: 1.3rem;
}

.skillCard{
  width: 98%;
  background-color: rgb(239, 240, 240);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.leftSide{
  min-height: 100vh;
  background-color: rgb(255, 255, 200);
}

.bio{
  margin-top: 30px;
}