#stepProgressBar  {
	display:  flex;
	justify-content:  space-between;
	align-items:  flex-end;
	width:  300px;
	margin:  0  auto;
	margin-bottom:  40px;
}

.step  {
text-align:  center;
}

.step-text  {
margin-bottom:  10px;
color:  #28a745;
}


.bullet {
	border: 1px solid #28a745;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	color: #28a745;
	display: inline-block;
	position: relative;
	transition: background-color 500ms;
  line-height:20px;
}


.bullet.completed  {
	color:  white;
	background-color:  #28a745;
}



.bullet.completed::after {
	content: '';
	position: absolute;
	right: -60px;
	bottom: 10px;
	height: 1px;
	width: 54px;
	background-color: #28a745;
}

/* Base styles and helper stuff */
.hidden  {
	display:  none;
}
 
button  {
	padding:  5px  10px;
	border:  1px  solid  black;
	transition:  250ms background-color;
}

button:hover  {
	cursor:  pointer;
	color:  purple;
}

button:disabled:hover  {
	opacity:  0.6;
	cursor:  not-allowed;
}

.text-center  {
	text-align:  center;
}
  
.container  {
	max-width:  400px;
	margin:  0  auto;
	margin-top:  20px;
	padding:  40px;
}

.hide {
    display: none;
}
.current {
    display: block;
}

.regcard{
	background: rgb(179, 177, 177);
}
.form-control1 {
    height: 37px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    width: 100%;
    color: #666;
}
.form-control1 :focus {
    height: 37px;
    border: none;
    border-bottom: 2px solid #e6e6e6;
    width: 100%;
    color: #666;
}

input {
	-webkit-transition: width .35s ease-in-out;
	transition: width .35s ease-in-out;
	background: none;
  }

input:focus {
	border: none;
  }

.langlabel{
	padding-top: 15px;
}
.skillrow{
	padding-left: 15px;
	margin-top: 15px;
}
.label{
	margin-bottom: -35px;
}
#previousBtn{
	float: right;
	width: 100px;
	margin-right: 5%;
}
#nextBtn{
	float: left;
	width: 100px;	
	margin-left: 5%;
}
.btnnxt{
	background: none;
	border: none;
	margin-top: 55px;
	font-size: 3rem;
}